
* {
	margin: 0;
	padding: 0;
	cursor: wait;
}

body {
	font-family: 'Montserrat', Arial, sans-serif;
	background-color: #aaa;
	color: #000;
}

.main-title {
	width: 100%;
	text-align: center;
}

/*Games stuff starts here*/

#game-container {
	width: 700px;
	height: 500px;
	margin: auto;
	margin-top: 20px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}
#hover-target {
	position: absolute;
	z-index: 1000;
}
.sprite {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.player {
	z-index: 100;
}
.particle {
	z-index: 90;
}
.catchable {
	z-index: 80;
}